# Ignore node_modules
node_modules/

# Ignore environment variable files
.env

# Ignore any IDE/editor config files
.idea/
.vscode/

# Ignore build directories
/build
/.next

# Don't ignore Home.css
!src/styles/Home.css  # Ensure Home.css is not ignored
